@if(mostrarTexto) {
  Este paragráfo só aparece se "mostrarTexto" for verdadeiro.
}

<button (click)= "tornarTextoVisivel()">
  Clique aqui para o texto se tornar visivel
</button>

<ul>
  @for(aluno of alunos; track alunos) {
    <li [ngStyle] = "{'color': 'green'}">
      {{aluno.nome}} - {{aluno.idade}} anos
    </li>
  }
</ul>

<div [ngSwitch] = "cor">
  <p *ngSwitchCase = "'vermelho'" [ngClass]="{'texto-vermelho': cor =='vermelho'}">Cor Vermelha</p>
  <p *ngSwitchCase = "'azul'" [ngClass]="{'texto-azul': cor =='azul'}">Cor Azul</p>
  <p *ngSwitchDefault>Cor não especificada</p>
</div>

<p>Informe o nome:</p>
<input [(ngModel)]="nome" placeholder="Digite seu nome">
<p>Bom dia, {{ nome }}!</p>
